<%- include('../partials/header')%>
<div class="prt">Airline:
  <div><%=  flight.airline %></div>
</div>
<div class="prt">Airport:
  <div><%=  flight.airport %></div>
</div>
<div class="prt">FlightNo:
  <div><%=  flight.flightNo %></div>
</div>
<div class="prt">Departure:</div>
<table>
  <tbody>
    <% flight.destinations.forEach(function(d) {  %>
      <tr><%= d.airport  %></tr>&nbsp;&nbsp;
      <tr><%= d.arrivals %></tr>
      <br>
    <%  });  %>

  </tbody>

</table>
<!-- new markup below -->
<br><br><h2>Destinations</h2>
<form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
</select>
  <label>Arrival:</label>
    <input type="datetime-local" name="arrivals" >
  <input type="submit" value="Add Destinations">
</form>
<button><a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a></button>
<table>
  <tbody>
    <thead>
      <th>Seat</th>
      <th>Price</th>
    </thead>
    <% tickets.forEach(function(t) {  %>
    <tr>
      <tr><%= t.seat %></tr>&nbsp;&nbsp;
      <tr><%= t.price %></tr>
      <br>
    </tr>
    <% }); %>
  </tbody>


</table>


<%- include('../partials/footer')%>